body {
    font-family: 'Open Sans', sans-serif;
    background-color: #281755;
    color: #F5F3F3;
    overflow-x: hidden;
}
nav {
    background-color: #F5F3F3;
    height: 5vh;
    padding: 5% 5%;
    text-align: right;
}
h1, h2, p, div {
    padding: 5% 5%;
}
footer {
    display: block;
    background-color: #F5F3F3;
    color: #281755;
    height: 5vh;
    padding: 5% 5%;
}